<%- include("header") -%>

<h2>About</h2>

<p>This site is a small project that I used to practice web development. I learned a lot of the knowledge, such as how to create EJS templates, and some CSS elements from theAppBrewery, and I really appreciate their effort in making good tutorials </p>

<%- include("footer") -%>
