<%- include("header") -%>

<div class="box" id="add_heading">
  <h1> Enter New List Name</h1>
  <form action="/add" method="post">
    <input type="text" name="newItemName" placeholder="Enter List Name Here"/>
    <button type = "submit" > + </button>
  </form>

</div>


<%- include("footer") -%>
